* {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(218, 212, 199);
}

@font-face {
  /* EmojiSymbols Font (c)blockworks - Kenichi Kaneko
   * http://emojisymbols.com/
   * */
  font-family: EmojiSymbols;
  src: url(../assets/EmojiSymbols.ttf);
}


@font-face {
  font-family: emoji;

  /* Fonts for text outside emoji blocks */
  src: local('Droid Sans Mono'),
       local('Lucida Console'),
       local('Arial Monospaced'),
       local(Arial);
}

@font-face {
  font-family: emoji;

  src: local('Apple Color Emoji'),
       local('Android Emoji'),
       local('Segoe UI'),
       local(EmojiSymbols),
       local(Symbola),
       url('font/Symbola-Emoji.eot?#iefix') format('embedded-opentype'),
       url('font/Symbola-Emoji.woff') format('woff'),
       url('font/Symbola-Emoji.ttf') format('truetype');

  /* Emoji unicode blocks */
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

#sizeTest {
  position: absolute;
  top: -100px;
  line-height: 1.2em;

}

#map {
  line-height: 1.2em;
  color: black;
}

.emj {
  font-family: emoji, monospace;
}

/*.emoji {
  width: 20px;
  height: 20px;
}

.emoji.leaf {
  src: url(../assets/em-leaf.png);
}

.emoji.tree {
  src: url(../assets/em-tree.png);
}

.emoji.red-leaf {
  src: url(../assets/em-red-leaf.png);
}

.emoji.burning {
  src: url(../assets/em-fire.png);
}*/
